
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer .margin {
    margin-bottom: 9px;
}

.footer .contacts {
    margin-right: 68px;
}

.footer .adress-link,
.footer .contact-link {
    display: block;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
}

.footer .adress-link {
    color: var(--white-color);
}

.footer .contact-link {
    color: var(--gray-color-60);
}

.footer .adress-link:hover,
.footer .contact-link:hover,
.footer .adress-link:focus,
.footer .contact-link:focus {
    color: var(--accent-color);
}

.footer-social {
    display: block;
}

.footer-social .title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-social .list {
    display: flex;
}

.footer-social .item:not(:last-child) {
    margin-right: 10px;
}

.footer-social .link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--white-color);

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
}

.footer-social .link:hover,
.footer-social .link:focus {
    background-color: var(--accent-color);
}

.footer-form {
    margin-left: auto;
}

.footer-form .form {
    display: flex;
    align-items: center;
}

.footer-form .title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-form .button {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.footer-form .icon {
    margin-left: 10px;
}

.footer-form .input {
    margin-right: 10px;
    padding-left: 17px;
    color: white;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 4px;
}

.footer-form .input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: var(--gray-color-60);
}